<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricPro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>CricPro</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/players">Players</a>
        <div class="dropdown">
            <button class="dropbtn">Countries</button>
            <div class="dropdown-content">

                <a href="/stats">IND</a>
                <a href="/sa">SA</a>
                <a href="/aus">AUS</a>
                <a href="/ban">BAN</a>
                <a href="/afg">AFG</a>
                <a href="/uae">UAE</a>
                <a href="/pak">PAK</a>
                <a href="/hk">HK</a>
                <a href="/eng">ENG</a>
                <a href="/png">PNG</a>
                <a href="/nz">NZ</a>
                <a href="/ire">IRE</a>
                <a href="/wi">WI</a>
                <a href="/scot">SCOT</a>
                <a href="/nep">NEP</a>
                <a href="/zim">ZIM</a>
                <a href="/sl">SL</a>


            </div>
        </div>
        <a href="/all">All</a>
    </div>
    <div class="content">
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>
